/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');


.main-title {
  padding-top: 24px;
  padding-bottom: 24px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 250ms ease;
  object-fit: cover;
}

.gallery-link:hover .gallery-image {
  transform: scale(1.05);
}



.feedback-form {
  position: relative;
  display: inline-block;
  align-items: flex-start;
  gap: 8px;
  width: 408px;
  height: 256px;
  margin: 0;
  padding: 24;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: auto;
  margin-right: auto;
}

.input-field {
  min-width: 360px;
  height: 40px;
}

.input-field-msg {
  min-width: 360px;
}

.login-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 95px;
  height: 40px;
  border-radius: 4px;
  padding: 8px 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  margin-top: 8px;
}

.login-btn:hover {
  background-color: #6c8cff;;
}